@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .kflex {
    @apply flex justify-between items-center;
  }

  .kflex2 {
    @apply flex justify-center items-center;
  }

  .tpbtn {
    @apply flex w-max py-[17px] px-[30px] justify-center items-center gap-[11.8px] rounded-full border border-kDark text-kDark font-inter text-[14px];
  }

  .blbtn {
    @apply flex w-max py-[17px] px-[30px] justify-center items-center gap-[11.8px] rounded-full bg-kBlue text-white font-inter text-[14px];
  }

  .sechead {
    @apply text-lg font-medium text-center;
  }
}

body {
  background-color: #2f2f30;
  font-family: "Inter", sans-serif;
  color: #2f2f30;
  overflow-x: auto;
}
